<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/css/navbar.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; color: rgb(240, 236, 236);">
            <a class="navbar-brand" id="flack" href="#">M-Chat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                {% if session.loggedin %}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('chat_rooms')}}">Create a channel</a>
                </li>
                {% endif %}
              </div>
            </div>
            {% if session.loggedin %}
            <li class="nav-item" style="list-style-type: none;">
              <h6><i class="fa fa-user" aria-hidden="true"></i> {{session.username}}</h6><a id="logout" class="nav-link btn btn-outline-danger" href="{{url_for('logout')}}">LOGOUT</a>
          </li>
          {% endif %}
          </nav>
        {% block head %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        
        
        {% block main %}
        {% endblock %}

        {% block send %}
        {% endblock %}
    </body>
</html>
